.headline {
  .headline-img-wrap {
    width: 75px;
    padding-top: 25px;
  }
  .headline-content {
    font-size: 30px;
    color: #f8971d;
    padding-top: 25px;
  }
  .headline-border {
    background: #f8971d!important;
    font-size: 1px; /*Outlook 2013 does not respect height of empty cells, this fixes how it looks*/
  }
}

.sub-headline {
  .content {
    font-size: 18px!important;
    padding: 15px 5px 5px 77px;
  }
}

.bulleted-list { 
  td {
    color: #5c5c5c;
    line-height: 16px;
  }
  a {
    color: #5c5c5c;
  }
  .bullet {
    width: 95px;
    img {
      border:0; 
      padding:0; 
      margin:0;
    }
  }
  .content {
    padding-left: 10px;
  }
  .spacer {
    width: 15px;
  }

}
.bulleted-sublist { 
  td { 
    color: #5c5c5c;
    line-height: 16px;
  }
  tr:first-child td {
    padding-top: 15px;
  }
  tr:last-child td {
    padding-bottom: 15px;
  }
  .sub-bullet {
    padding: 5px 5px 0 115px; 
    color: #cdcdcd;
    height: 24px;
    font-size: 16px;
  }
  .content {
    padding-right: 40px;
    padding-left: 10px;
  }
}
.numbered-list { 
  td {
    color: #5c5c5c;
    line-height: 16px;
  }
  a {
    color: #5c5c5c;
  }
  .number {
    width: 95px;
    img {
      border:0; 
      padding:0; 
      margin:0;
    }
  }
  .content {
    padding-left: 10px;
  }
  .spacer {
    width: 15px;
  }

}
.numbered-sublist{
  td { 
    color: #5c5c5c;
    line-height: 16px;
  }
  tr:first-child td {
    padding-top: 15px;
  }
  tr:last-child td {
    padding-bottom: 15px;
  }
  .sub-numbered-list {
    padding: 5px 5px 0 115px; 
    color: #cdcdcd;
    height: 24px;
    font-size: 16px;
  }
  .content {
    padding-right: 40px;
    padding-left: 10px;
  }
  
}
#outer-shell td {
  background: #fff;
}

#inner-shell table td, #footer table td {
  background: #fff;
}

#inner-shell > tr > td:first-child {
  background: #fff;
  padding: 0 20px 20px 20px;
}

.long-url-break {
word-break: break-all;
}

.no-wrap{
  white-space: nowrap;
}