#outer-shell td {
  background: #ffffff;
}

#inner-shell > tr > td:first-child {
  background: #ffffff;
  padding: 0 20px 20px 20px;
}

.brand-color {
	color: #94348c;
}

.link-color {
	color: #0072bc;
}

.large-extra-padding {
	padding-top: 60px!important;
}

.small-extra-padding {
	padding-top: 20px!important;
}

.reduce-padding {
	padding-top: 0!important;
}

.valign-fix {
	vertical-align: middle;
}

.logo-wrap {
	/*padding: 20px 15px 20px 15px; */
	background: #ffffff;
}

#header-table {
	background-color: #94348b;
	td { 
		background: none!important;
	}
	.logo {
		padding-top: 17px; 
		padding-left: 29px;
	}
	.summary {
		text-align: right; 
		padding-right: 30px;
		padding-left: 60px;
		a {
			color: #fff; 
			text-decoration: underline; 
			font-weight: bold; 
			font-family: Verdana; 
			font-size: 12px;
		}
	}
	.box {
		padding-left: 30px; 
		padding-right: 60px; 
		padding-top: 15px;
		.box-table {
			font-size: 12px;
			td {
				border: 1px solid #fff; 
				padding: 10px 20px; color: #fff; 
				text-align: center;
				a {
					color: #fff;
				}
			}
		}
	}
	.curve {
		text-align: right; 
		line-height: 0px;
		img {
			display: inline; 
			width: 80px; 
			height: 25px;
		}
	}
}


.content {
	font-size: 14px; 
	padding-top: 20px; 
	padding-bottom: 15px;
}

.aligned-table {
	.content {
		padding-top: 0;
	}
}

.headline-table {
	td {
		font-size: 24px; 
		color:#94348c; 
		padding-bottom: 35px; 
		padding-top: 45px;
		#headline-sup {
			font-size: 16px; 
			line-height: 0; 
			vertical-align: 7px;
		}
	}
}

.colored-border-table {
	td {
		padding-bottom: 20px;
		img {
			width: 100%;
		}
	}
}

.greeting {
	font-size: 14px; 
}

.header {
	font-size: 18px;
	padding-top: 30px;
}

.fine-print {
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.bullet-header {
	font-size: 14px; 
	padding-bottom: 10px;
}
.list {
	font-size: 14px; 
	padding-bottom: 10px; 
	padding-left: 28px;
}
.bullet {
	color: #94348c; 
	font-size: 16px; 
	vertical-align: top; 
	padding-right: 4px;
	line-height: 14px;
}
.bullet-content {
	font-size: 14px; 
	padding-bottom: 10px; 
	line-height: 16px;
}
.border-table {
	td {
		border-bottom: 1px solid #000000;
	}
}
.brand-link {
	color: #94348c; 
	font-size: 14px; 
	padding-bottom: 15px;
	a {
		color: #94348c; 
		text-decoration: underline;
	}
}
#indication-box {
	#indication-border {
		border: 2px solid #94348c; 
		padding: 30px;
	}
	.bullet-content { 
		padding-bottom: 0;
	}
	#top-content-wrap {
		font-size: 14px; 
		padding-bottom: 30px;
		#download-btn-table {
			img {
				width: 30px!important; 
				height: 30px!important; 
				display: inline-block; 
				margin-right: 15px;
			}
		}
		#download-btn-content-table {
			td {
				font-size: 13px;
				#download-link {
					color: #000000; 
					text-decoration: underline; 
					vertical-align: top; 
					display: inline-block; 
					margin-top: 7px;
				}
			}
		}
	}
}

#references {
	td {
		font-size: 14px;
	}
	a {
		color: #000000; 
		text-decoration: underline!important;
	}
	.reference-headline {
		padding-top: 20px;
	}
	.long-url-break {
		word-break: break-all;

	}
	.receive-message {
		font-size: 12px; 
		padding-top: 20px; 
		padding-bottom: 20px;

	}
	.unsubscribe {
		font-size: 12px; 
		padding-bottom: 20px; 
		text-align: center;
	}
}

#footer {
	.basilea-wrap {
		padding-top: 20px;
		#basilea-logo {
			width: 91px; 
			height: 43px;
		}
		#code-wrap {
			text-align:right; 
			padding-bottom: 5px; 
			padding-right: 12px; 
			font-size: 14px;
		}
		#revision-wrap {
			text-align:right; 
			padding-bottom: 20px; 
			padding-right: 12px; 
			font-size: 14px;
		}
	}
}