body{ 
  margin:0px; padding:0px;
  -webkit-text-size-adjust:none; 
  -ms-text-size-adjust:none; 
  background:#ffffff;
  min-height:1000px;
  color:#000000;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

table { 
  /*border-collapse:collapse; */
  mso-table-lspace:0pt; 
  mso-table-rspace:0pt; 
  font-family: Verdana, Helvetica;
}

table td {
  /*border-collapse:collapse; */
} 

a, a:link{
  color:#000000;    
  text-decoration: underline;
}

.lh-fix {
  line-height: 0;
} 

span.yshortcuts { 
  color:#000000; 
  background-color:none; 
  border:none;
}

span.yshortcuts:hover,
span.yshortcuts:active,
span.yshortcuts:focus {
  color:#000000; 
  background-color:none; 
  border:none;
}

a[href^=tel]{ 
  color:#000000; text-decoration:none;

}

img { 
  display: block;
  height: inherit;
}

.centered-image td {
  padding: 15px 25px 0 25px;

  img {
    width: 510px;
  }
}

.break {
  word-break: break-all;
}

.cta {
  font-weight: bold;
}

.ios-links a { 
  color: #000000; 
  text-decoration: none!important;
}

#view-online {
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

#view-online a {
  text-decoration: underline;
}

#headline td {
  background: #0098db;
  color: #000000;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

#subhead td {
  color: #000000;
  font-size: 18px;
  padding: 25px 25px 0;
}

#outer-shell {
  font-family: Verdana, Helvetica;

  .content { 
    font-size: 14px; 
  }
}

#outer-shell td {
  background: #dedede;
}

#inner-shell table td, #footer table td {
  background: #fff;
}

#inner-shell > tr > td:first-child {
  background: #dedede;
  padding: 5px;
}

#hero-table {
  #hero-cell {
    padding: 1px;

    img { 
      width: 558px; 
    }
  }
}

.extra-padding {
  padding-top: 40px;
}

.mobile-no-padding {
  padding: 0!important;
}

.content-table {
  td { 
    padding: 10px 40px 0 40px;
    font-size: 10px;
    font-family: Arial;
  }

  .content-headline { 
    color: #0098db;
    font-size: 18px;
    padding-top: 40px;
  }

  #percentage-cell { 
    padding-left: 0; 
  }

  #percentage-img { 
    width: 135px; display: initial; 
  }

  #img-content { 
    padding-left: 0; 
  }

  #facebook-icon { 
    vertical-align: middle; 
  }

  #facebook-cell-1 { 
    padding-right: 0; width: 10px; 
  }

  #facebook-cell-2 { 
    padding-left: 10px; 
  }
}

#footnotes{
  td{
    padding-top:0px!important;
  }
}

#info-wrapper { 
  padding-top: 30px;
}

#outer-info-table { 
  td { 
    padding: 15px 25px 0 25px; 
  }

  #outer-info-cell {
    padding: 10px 15px 10px 15px; background: #efbd47!important; 
  }

  #inner-info-cell {
    background: #ffffff; 
  }

  .img-cell { 
    padding-left: 0; padding-right: 0; 
  }

  .content-cell { 
    padding-left: 0; padding-bottom: 10px; 
  }

  #visit-link { 
    color: #0098db; 
  }

  #corner { 
    padding-left: 0; padding-top: 0; 
  }
}

.border-bar {
  padding: 20px;
}

.reg-logo {
  width: 560px;
  padding: 20px;
}

#references-table {
  td { 
    font-size: 12px;
    font-family: Arial;
    padding: 0 20px 10px 20px;
  }

  #reference-content {
    display: inline-block;
    width: 89%;
  }
}

#company-info {
  td {
    font-size: 12px;
    padding: 0 20px 0 20px;
  }

  tr:first-child td {
    padding-top: 10px;
  }

  tr:last-child td {
    padding: 0 20px 30px 20px;
  }

  #unsubscribe {
    color: #000;
    padding-top: 20px;
  }
}

#footer {
  a span {
    text-decoration: underline;
  }
}

#last-td {
  padding-bottom: 10px;
}

#hero-img-td {
  padding-bottom: 20px;
}

#hero {
  width: 579px;
}

#video {
  width: 232px;
}

#apixaban {
  width: 150px;
}

#video-td {
  padding-left: 15px;
}

#apixaban-td {
  padding: 70px 0 20px 120px !important;
}