#pre-header{
	text-align:center;
}

#navigation{
	padding: 0 26px;
	text-align:center;
}

.copy-block{
  font-size:14px;
  padding: 0 34px;
.spacer {
    width: 15px;
  }
  img{
   margin: 0 auto;
  }
}

.content-two-column{

.spacer {
    width: 15px;
  }

  #content-left{
   text-align:center;
  }
}

.links{
	padding:0 10px;
}

#isi{
	td{
		text-align:center;
	}
}

#footer{
	font-size:12px;
	td{
	  background-color:white;
	}
	#footer-left-column{
		padding-left:32px;
	}
}