.brand-color {
  color: #3691ce !important;
}

#outer-shell {
  font-family: Verdana, Helvetica;

  .content { 
    font-size: 16px; 
  }
}

#hero-table {
  #hero-cell {
    padding: 1px;
  }
}

.icon-table {
  td { 
    padding: 0; 
    text-align: center;
  }
  .icon-img-cell {
    padding: 15px 15px 0px 25px;
  }
  .icon-content-cell {
    padding: 15px;
    strong {
      color: #0098db;
      font-size: 20px;
    }
  }
}

#info-wrapper { 
  padding: 30px 25px 0 25px;
  background: #ffffff;
}

.img-content-box {
  background: #ebebeb;
  td {
    background: #ebebeb!important;
    padding: 10px;
  }
  .icon {
    padding-top: 1px;
    padding-right: 0;
    width: 95px;
  }
  .content { 
    padding-left: 0;
  }
}

#references-table {
  td { 
    font-size: 14px!important;
    padding: 0px 25px 0 25px;
  }
  .content {
    padding-top: 10px;
  }
  .break-link {
    word-break: break-all;
    a {
      color: #000000;
      text-decoration: underline;
    }
  }
  .reference-link {
    color: #000000;
    text-decoration: underline;
  }
}
