#outer-shell td {
  background: #ffffff;
}

#inner-shell > tr > td:first-child {
  background: #ffffff;
  padding: 0 20px 20px 20px;
}

.brand-color {
  color: #94348c;
}

.location-color {
  color: #0061af;
}

.link-color {
  color: #0072bc;
}

.large-extra-padding-top {
  padding-top: 60px!important;
}

.small-extra-padding-top {
  padding-top: 20px!important;
}

.reduce-padding-top {
  padding-top: 0!important;
}

.small-extra-padding-bottom {
  padding-bottom: 30px!important;
}

.valign-fix {
  vertical-align: middle;
}

.outer-cell-wrap {
  /*padding: 20px 15px 20px 15px; */
  background: #ffffff;
}

.content {
  font-size: 14px; 
  padding-top: 20px; 
  padding-bottom: 15px;
}

.black-box-table {
  .content {
    border: 1px solid #000000;
    padding: 15px;
  }
  .spacer-cell {
    padding-top: 15px;
  }
}

.logo-content-table {
  td {
    padding-bottom: 0px!important;
  }
  a {
    color: #000000; 
    text-decoration: underline; 
    font-weight: bold; 
    font-family: Verdana; 
    font-size: 14px;
  }
  .content-table {
    .content {
      padding-top: 27px;
      padding-left: 0;
    }
  }
}

.img-content-table {
  td {
    padding-bottom: 0px!important;
  }
  a {
    color: #000000; 
    text-decoration: underline; 
    font-weight: bold; 
    font-family: Verdana; 
    font-size: 14px;
  }
  .content-table {
    .content {
      padding-top: 50px;
      padding-left: 0;
    }
  }
}

#header-table {
  td { 
    padding-top: 10px;
    background: none!important;
  }
  .summary {
    text-align: right; 
    padding-left: 60px;
    padding-bottom: 15px;
    a {
      color: #000000; 
      text-decoration: underline; 
      font-weight: bold; 
      font-family: Verdana; 
      font-size: 12px;
    }
  }
}

.spacer-table {
  .content {
    padding-bottom: 25px;
    padding-top: 0;
  }
}
.color-table {
  .content {
    background: #e5eff7!important;
    padding-left: 10px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .single-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .first-content {
    padding-top: 10px;
  }
  .last-content {
    padding-bottom: 10px;
  }
}

.no-color-table {
  .content {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .single-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .first-content {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .last-content {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.aligned-table {
  .content {
    padding-top: 0;
  }
}

.headline-table {
  td {
    font-size: 24px; 
    color: #0061af; 
    padding-bottom: 35px; 
    padding-top: 25px;
    #headline-sup {
      font-size: 16px; 
      line-height: 0; 
      vertical-align: 7px;
    }
  }
}

.colored-border-table {
  td {
    padding-bottom: 20px;
    img {
      width: 100%;
    }
  }
}

.greeting {
  font-size: 14px; 
}

.header {
  font-size: 18px;
  padding-top: 30px;
}

.fine-print {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.bullet-header {
  font-size: 14px; 
  padding-bottom: 10px;
}
.list {
  font-size: 14px; 
  padding-bottom: 10px; 
  padding-left: 28px;
}
.bullet {
  color: #0061af; 
  font-size: 16px; 
  vertical-align: top; 
  padding-right: 4px;
  line-height: 14px;
  width: 12px;
}
.bullet-content {
  font-size: 14px; 
  padding-bottom: 10px; 
  line-height: 16px;
}
.border-table {
  td {
    border-bottom: 1px solid #000000;
    padding-top: 20px;
  }
}
.brand-link {
  color: #94348c; 
  font-size: 14px; 
  padding-bottom: 15px;
  a {
    color: #94348c; 
    text-decoration: underline;
  }
}

#section-header-table {
  td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footnote-table {
  > tr > td:first-child {
    padding-top: 0!important;
  }
  .content {
    font-size: 12px!important;
  }
}

#indication-box {
  #indication-border {
    border: 2px solid #0061af; 
    padding: 30px;
    padding-bottom: 0;
  .list {
    padding-left: 10px;
  }
  }
  .bullet-content { 
    padding-bottom: 0;
  }
  #top-content-wrap {
    font-size: 14px; 
    padding-bottom: 30px;
    #download-btn-table {
      img {
        width: 30px!important; 
        height: 30px!important; 
        display: inline-block; 
        margin-right: 15px;
      }
    }
    #download-btn-content-table {
      td {
        font-size: 13px;
        #download-link {
          color: #000000; 
          text-decoration: underline; 
          vertical-align: top; 
          display: inline-block; 
          margin-top: 7px;
        }
      }
    }
  }
}

#references {
  td {
    font-size: 14px;
  }
  a {
    color: #000000; 
    text-decoration: underline!important;
  }
  .reference-headline {
    padding-top: 20px;
  }
  .long-url-break {
    word-break: break-all;

  }
  .receive-message {
    font-size: 12px; 
    padding-top: 20px; 
    padding-bottom: 20px;

  }
  .unsubscribe {
    font-size: 12px; 
    padding-top: 15px;
    text-align: center;
  }
}

#footer {
  .basilea-wrap {
    padding-top: 20px;
    #basilea-logo {
      width: 91px; 
      height: 43px;
    }
    #code-wrap {
      text-align:right; 
      padding-bottom: 5px; 
      padding-right: 12px; 
      font-size: 12px;
    }
    #revision-wrap {
      text-align:right; 
      padding-bottom: 20px; 
      padding-right: 12px; 
      font-size: 12px;
    }
  }
}